
 /*img {
    //width: 200px;
    // height: 200px;
    //border-radius: 100px;

  }*/



#todays-challenge{
    color: rgb(164, 46, 188);
    font-weight: bold;
    font-size: 52px;
  }

